<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanye quotes for free</title>
    <script src="https://kit.fontawesome.com/cdb751df44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Press the button to get a free Kanye quote</h1>
    <form method="post" action="/">
        <div class="container">
            <label for=""> "<%= randomQuoteEJS %>" </label>
            <button type="submit"><i class="fa-solid fa-rotate-right"></i></button>
        </div>
        <img src="/images/<%=randomYeImg%>" alt="Randomly chosen Ye img ">
    </form>
</body>
</html>